<p>
  {{view.cartTotal}}
</p>

<p>
  {{view.wineData}}
</p>

<div ng-repeat="wine in view.wineData">
  <div class="row container cartWine" ng-show="wine.quantity > 0">
    <div class="col s5">
      <img class="wineImage" src="{{wine.imageUrl}}" alt="" />
      <h5 class="lightweight wineName">{{wine.name}}</h5>
    </div>
    <div class="col s5 offset-">
      <h5>
        {{wine.quantity}}
      </h5>
      <span>
        <h5>
          {{ wine.price * wine.quantity | fractionCurrency | currency}}
        </h5>
      </span>
    </div>
  </div>
</div>

<div class="row container cartTotalDisplay">
  <div class="col s2 offset-s6">
    <h4>
      {{view.cartTotal.totalCost}}
    </h4>
  </div>
</div>
