<nav-bar-display></nav-bar-display>

<div class="header">
  <h4 class="about">This is my first Angular Project! If you are interested in contacting me or seeing more of my work, check out my links below!</h4>
</div>


<div class = "contact">
  <a href="http://www.jaimielogan.com" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
  <a href="mailto:jaimielogan@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/in/jaimielogan" target="_blank"> <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  <a href="https://github.com/jaimielogan" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
</div>
