<div class="container row">

  <p>
    {{scope.view.categories}}
  </p>

  <select class="browser-default dropDown col s3 sort" ng-model="view.sort" ng-options="option.name for option in view.sortOptions">
    <option value="" disabled selected>Sort By:</option>
  </select>

  <select class="browser-default dropDown col s3" ng-model="view.selectCategory" ng-options="category.categoryName for category in view.categories | unique: 'categoryName'">
    <option value="" disabled selected>Search By Category</option>
  </select>

  <div class="input-field col s4 search">
    <input placeholder="Search By Name" id="first_name" type="text" ng-model="view.search">
  </div>

</div>
