<div class="col s3 wine">
  <img class="wineImage" src="{{wine.imageUrl}}" alt="" />
  <h5 class="lightweight wineName">{{wine.name}}</h5>
  <div ng-click="toggleDetails(wine._id)">
    <img src="../images/down_arrow.png" class="arrow" alt="down arrow" ng-hide="view.viewDetails[wine.id]"/>
    <img src="../images/up_arrow.png" class="arrow" alt="up arrow" ng-show="view.viewDetails[wine.id]"/>
  </div>

  <div class="wineDetails" ng-show="view.viewDetails[wine._id]">
    <form ng-submit="addToCart(wine._id)">
      <p class="lightweight">
        {{wine.description}}
      </p>
      <h4 class="rating">
        {{wine.rating}}
        <span class="lightweight hundred">/ 100</span>
      </h4>
      <h5 class="price">{{wine.price | fractionCurrency | currency}}</h5>
      <p>
        Tasting Notes:
        <span class="lightweight">
          {{wine.tastingNotes}}
        </span>
      </p>
      <select class="browser-default quantityDropDown" ng-model="view.addQuantity">
        <option value="" disabled selected>Quantity</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6 (1 case)</option>
      </select>
      <button class="btn waves-effect waves-light red darken-4 addCart" type="submit" name="action">Add To Cart</button>
    </form>
  </div>
</div>
