.cartHeader{
  border-bottom: 1px solid lightgrey;
  width: 500px;
}

.cartBrand{
  font-weight: 100;
  margin: 20px;
}

.cartWine{
  border-bottom: 1px solid lightgrey;
}

.cartTotalDisplay{
  font-weight: bold;
  margin-top: 10px;
  border-top: 1px solid lightgrey;
}
